

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/OpenSans-Light.eot');
    src: url('../../assets/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/openSans-Light.woff2') format('woff2'),
        url('../../assets/fonts/openSans-Light.woff') format('woff'),
        url('../../assets/fonts/openSans-Light.ttf') format('truetype'),
        url('../../assets/fonts/openSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/openSansLight-Italic.eot');
    src: url('../../assets/fonts/openSansLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/openSansLight-Italic.woff2') format('woff2'),
        url('../../assets/fonts/openSansLight-Italic.woff') format('woff'),
        url('../../assets/fonts/openSansLight-Italic.ttf') format('truetype'),
        url('../../assets/fonts/openSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/openSans-BoldItalic.eot');
    src: url('../../assets/fonts/openSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/openSans-BoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/openSans-BoldItalic.woff') format('woff'),
        url('../../assets/fonts/openSans-BoldItalic.ttf') format('truetype'),
        url('../../assets/fonts/openSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/openSans-Bold.eot');
    src: url('../../assets/fonts/openSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/openSans-Bold.woff2') format('woff2'),
        url('../../assets/fonts/openSans-Bold.woff') format('woff'),
        url('../../assets/fonts/openSans-Bold.ttf') format('truetype'),
        url('../../assets/fonts/openSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html {
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	color: $fontColor;
}

body {
	@extend %flex;
	background-color: #000000;

	@include mobile {
		margin: 0;
	}

	@include desktop {
		align-items: flex-start;
	}

	.flex-container {
		@extend %flex;
		min-height: 90vh;
	}

	.logo {
		flex-grow: 1;
		margin: 20px;
		@extend %flex;

		@include tablet {
			flex-direction: row;
			
		}

		@include desktop {
			flex-direction: row;
		}

			a img {
				width: 300px;
				margin: 0 20px;
			}
	}

	h1 {
		color: $fontColor;
		@extend %openSansLight;
		font-size: 16px;
	}

	.selection-container {
		@extend %flex;

		@include desktop {
			margin: 0 20px;
		}
	}

	select {
		height: 20px;
		width: 120px;
		border-radius: 5px;
	}

	.news-item {
		width: 100vw;
		height: 300px;
		position: relative;
		background-size: cover;
		background-position: center;

		@include tablet {
			width: 33.3vw;
    		height: 417px;
		}

		@include desktop {
			width: 24.779vw;
		}

		@include high-res {
			height: 80vh;
		}
	}

	.api-loader {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;

		a {
			position: relative;
			overflow: hidden;

			&:hover p {
				bottom: 0;
			}
		}

		p {
			@extend %openSansLight;
			background-color: $opaque;
			position: absolute;
			color: white;
			text-decoration: none;
			margin: 0;
			padding: 5px;
			transition: all .3s ease-in-out;
			bottom: 0;

			@include desktop {
				line-height: 35px;
				bottom: -100%;
			}
		}
	}

	.select {
		min-height: 10vh;
		transition: all 2.5s ease-in;
		transition-timing-function: cubic-bezier(.83,-0.23,.23,.38);

			.logo img {
				width: 200px;
				transition: all 1.89s ease-in;
				transition-timing-function: cubic-bezier(.94,-0.18,.37,.85);
				margin: 20px;

				@include tablet {
					width: 150px;
					transition: all 1.8s ease-in;
					transition-timing-function: cubic-bezier(.94,-0.18,1,.42);
				}

				@include desktop {
					width: 100px;
				}
			}
    }

	.legal h2 {
			@extend %openSansLight;
			margin: 20px;
			color: white;
			
	}

}