
@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/OpenSans-Light.eot');
    src: url('../../assets/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/openSans-Light.woff2') format('woff2'),
        url('../../assets/fonts/openSans-Light.woff') format('woff'),
        url('../../assets/fonts/openSans-Light.ttf') format('truetype'),
        url('../../assets/fonts/openSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/openSansLight-Italic.eot');
    src: url('../../assets/fonts/openSansLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/openSansLight-Italic.woff2') format('woff2'),
        url('../../assets/fonts/openSansLight-Italic.woff') format('woff'),
        url('../../assets/fonts/openSansLight-Italic.ttf') format('truetype'),
        url('../../assets/fonts/openSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/openSans-BoldItalic.eot');
    src: url('../../assets/fonts/openSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/openSans-BoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/openSans-BoldItalic.woff') format('woff'),
        url('../../assets/fonts/openSans-BoldItalic.ttf') format('truetype'),
        url('../../assets/fonts/openSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/openSans-Bold.eot');
    src: url('../../assets/fonts/openSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/openSans-Bold.woff2') format('woff2'),
        url('../../assets/fonts/openSans-Bold.woff') format('woff'),
        url('../../assets/fonts/openSans-Bold.ttf') format('truetype'),
        url('../../assets/fonts/openSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html {
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	color: $fontColor;
}

body {
	@extend %flex;
	background-color: #000000;

	.flex-container {
		@extend %flex;
		min-height: 90vh;
	}

	.logo {
		flex-grow: 1;
		@extend %flex;

		@include desktop {
			flex-direction: row;
		}
	}

	h1 {
		color: $fontColor;
		@extend %openSansLight;
		font-size: 16px;
	}

	.selection-container {
		@extend %flex;
	}

	select {
		height: 20px;
		width: 120px;
		border-radius: 5px;
	}

	img {
		width: 200px;
	}

	h2 {
		@extend %font-initial;
	
		i {
			@extend %openSansLight;
			font-size: 16px;
			margin-bottom: 50px;
		}
	}

	.news-item {
		width: 320px;
		height: 300px;
		position: relative;
		background-size: cover;
	}

	
	}

	.api-loader {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;

		p {
			@extend %openSansLight;
			background-color: $opaque;
			bottom: 0;
			position: absolute;
			color: white;
			text-decoration: none;
			margin: 0;
			display: none;
	}

	.selection {
		min-height: 45vh;
	}

}