$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1000px;
$highRes-width: 1920px;

@mixin mobile {
    @media (min-width: $mobile-width) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin high-res {
    @media (min-width: $highRes-width) {
        @content;
    }
}