$fontColor: #ffffff;
$backGroundColor: #000000;
$fontFamily: 'Open Sans';
$fontWeight: '300';
$opaque: rgba(0,0,0,0.7);

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1000px;
$highRes-width: 1920px;

%flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

%openSansLight {
    font-family: 'Open Sans Light';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

%font-initial {
    font-style: initial;
    font-size: 16px;
    text-decoration: none;
}