$fontColor: #ffffff;
$backGroundColor: #000000;
$fontFamily: 'Open Sans';
$fontWeight: '300';
$opaque: rgba(0,0,0,0.5);

%flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

%openSansLight {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal; 
}

%font-initial {
    font-style: initial;
    font-size: 16px;
    text-decoration: none;
}